<app-container>
  <div class="container mx-auto mt-8 p-4 bg-white rounded-lg shadow">
    <h2 class="text-2xl font-semibold mb-4">Terms and Conditions</h2>

    <p>
      These Terms and Conditions govern your use of the Satyam Hospital website
      and the services provided through the website. By accessing and using our
      website, you agree to comply with and be bound by these Terms. If you do
      not agree to these Terms, please do not use our website.
    </p>

    <p>
      We reserve the right to update and modify these Terms at any time, and it
      is your responsibility to check for any changes. Your continued use of our
      website following the posting of changes to these Terms constitutes your
      acceptance of those changes.
    </p>

    <h3 class="text-xl font-semibold mt-4">1. Use of Website</h3>
    <p>
      You may use our website for lawful and informational purposes only. You
      may not use our website for any unlawful or prohibited activities,
      including but not limited to:
    </p>
    <ul class="list-disc ml-6">
      <li>
        Engaging in any activity that could harm, disable, or overburden our
        website or its network.
      </li>
      <li>
        Attempting to gain unauthorized access to any part of our website or its
        content.
      </li>
      <li>Interfering with the proper functioning of our website.</li>
      <li>
        Posting or transmitting any material that is offensive, defamatory, or
        otherwise objectionable.
      </li>
    </ul>

    <h3 class="text-xl font-semibold mt-4">2. Medical Information</h3>
    <p>
      The content on our website is for general information purposes and is not
      intended to be a substitute for professional medical advice, diagnosis, or
      treatment. You should not rely on the information provided on our website
      for making medical decisions. Always consult with a qualified healthcare
      professional for advice and treatment.
    </p>

    <h3 class="text-xl font-semibold mt-4">3. Privacy</h3>
    <p>
      Your use of our website is also governed by our Privacy Policy. By using
      our website, you consent to the collection, use, and disclosure of your
      personal information as described in our Privacy Policy.
    </p>

    <h3 class="text-xl font-semibold mt-4">4. Intellectual Property</h3>
    <p>
      All content, graphics, and other materials on our website are the property
      of Satyam Hospital and are protected by copyright and other intellectual
      property laws. You may not use our content without our express written
      consent.
    </p>

    <h3 class="text-xl font-semibold mt-4">5. Links to Third-Party Websites</h3>
    <p>
      Our website may contain links to third-party websites. These links are
      provided for your convenience and do not imply endorsement of the linked
      site. We have no control over these third-party websites and are not
      responsible for their content or practices. Your use of third-party
      websites is at your own risk.
    </p>

    <h3 class="text-xl font-semibold mt-4">6. Limitation of Liability</h3>
    <p>
      Satyam Hospital and its affiliates, employees, and agents are not liable
      for any damages, including direct, indirect, incidental, special,
      consequential, or punitive damages, arising out of your use or inability
      to use our website.
    </p>

    <h3 class="text-xl font-semibold mt-4">8. Contact Us</h3>
    <p>
      If you have any questions or concerns regarding these Terms and
      Conditions, please contact us at
      <a href="mailto:info@satyamhospital.com">anupamrekha@gmail.com</a>.
    </p>

    <p class="mt-4">
      These Terms and Conditions were last updated on October 31, 2023.
    </p>
  </div>
</app-container>
