<app-container>
  <div class="container mx-auto mt-8 p-4 bg-white rounded-lg shadow">
    <h2 class="text-2xl font-semibold mb-4">Privacy Policy</h2>

    <p>
      Satyam Hospital is dedicated to providing a comprehensive range of medical
      services to meet the diverse healthcare needs of our patients. We are
      committed to protecting your privacy and ensuring the security of your
      personal information. This Privacy Policy outlines how we collect, use,
      and safeguard your data.
    </p>

    <h3 class="text-xl font-semibold mt-4">1. Information Collection</h3>
    <p>
      We may collect personal information, such as your name, contact
      information, date of birth, and medical history, to provide you with the
      best healthcare services. We may collect this information through our
      website, in-person interactions, or other communication channels.
    </p>

    <h3 class="text-xl font-semibold mt-4">2. Data Usage</h3>
    <p>We use your personal information for the following purposes:</p>
    <ul class="list-disc ml-6">
      <li>Provide medical services and treatment.</li>
      <li>Contact you regarding appointments and health-related matters.</li>
      <li>Improve our website and services.</li>
      <li>Comply with legal requirements.</li>
    </ul>

    <h3 class="text-xl font-semibold mt-4">3. Data Security</h3>
    <p>
      We take appropriate measures to secure your data and protect it from
      unauthorized access, disclosure, alteration, or destruction. Your
      information is stored securely and accessible only to authorized
      personnel. We maintain strict confidentiality and adhere to
      industry-standard security practices.
    </p>

    <h3 class="text-xl font-semibold mt-4">4. Cookies</h3>
    <p>
      Our website may use cookies to enhance your browsing experience. Cookies
      are small text files stored on your device. You can modify your browser
      settings to control cookie usage, but please note that some features of
      our website may be affected.
    </p>

    <h3 class="text-xl font-semibold mt-4">5. Updates to Privacy Policy</h3>
    <p>
      We may update this Privacy Policy as necessary to reflect changes in our
      services or legal requirements. Any updates will be posted on our website,
      and we encourage you to review this policy periodically to stay informed.
    </p>

    <h3 class="text-xl font-semibold mt-4">6. Contact Us</h3>
    <p>
      If you have any questions or concerns about this Privacy Policy, please
      contact us at
      <a href="mailto:info@satyamhospital.com">info@satyamhospital.com</a>.
    </p>

    <p class="mt-4">
      This Privacy Policy was last updated on October 31, 2023.
    </p>
  </div>
</app-container>
