<app-section-header title="Job Application"></app-section-header>
<app-container>
  <div>
    <form action="#" method="POST" class="mt-6 flex flex-col gap-y-8 w-2/3">
      <div>
        <label
          htmlFor="first-name"
          class="block text-sm font-medium text-warm-gray-900"
        >
          Name
        </label>
        <div class="mt-1">
          <input
            required
            placeholder="Enter your name"
            type="text"
            name="first-name"
            id="first-name"
            autoComplete="given-name"
            class="block w-full rounded-md border-warm-gray-300 py-3 px-4 text-warm-gray-900 shadow-sm bg-gray-200"
          />
        </div>
      </div>

      <div>
        <label
          htmlFor="email"
          class="block text-sm font-medium text-warm-gray-900"
        >
          Email
        </label>
        <div class="mt-1">
          <input
            required
            placeholder="Your Email"
            id="email"
            name="email"
            type="email"
            autoComplete="email"
            class="block w-full rounded-md border-warm-gray-300 py-3 px-4 text-warm-gray-900 shadow-sm bg-gray-200"
          />
        </div>
      </div>

      <div>
        <div class="flex justify-between">
          <label
            htmlFor="phone"
            class="block text-sm font-medium text-warm-gray-900"
          >
            Phone
          </label>
        </div>
        <div class="mt-1">
          <input
            placeholder="Enter your Number"
            required
            type="text"
            name="phone"
            id="phone"
            autoComplete="tel"
            class="block w-full rounded-md border-warm-gray-300 py-3 px-4 text-warm-gray-900 shadow-sm bg-gray-200"
            aria-describedby="phone-optional"
          />
        </div>
      </div>

      <div>
        <label
          for="countries"
          class="block mb-2 text-sm font-medium text-warm-gray-900"
          >Position</label
        >
        <select
          required
          class="bg-bg-gray-200 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        >
          <option selected>Registered Nurse</option>
          <option value="MLT">Medical laboratory Technician</option>
          <option value="FDR">Front Desk Receptionist</option>
        </select>
      </div>

      <div>
        <label
          class="block mb-2 text-sm font-medium text-warm-gray-900"
          for="file_input"
          >Upload file</label
        >
        <input
          class="block w-full text-sm border border-gray-300 rounded-lg cursor-pointer bg-gray-50 py-2 px-4 focus:outline-none"
          id="file_input"
          type="file"
        />
      </div>

      <div class="sm:col-span-2 sm:flex sm:justify-end">
        <button
          type="submit"
          class="mt-2 inline-flex w-full items-center justify-center rounded-md border border-transparent bg-senary px-6 py-3 text-base font-medium text-white shadow-sm"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</app-container>
