<app-section-header title="About Us"></app-section-header>
<app-container>
  <app-about> </app-about>
  <div
    class="flex flex-col-reverse py-12 md:py-0 md:flex-row items-center justify-center gap-x-8"
  >
    <app-section-right>
      <img src="assets/Vision/Vision.png" />
    </app-section-right>

    <app-section-left>
      <div class="text-sm my-1 font-bold text-senary">
        <span class="w-[3px] h-3 bg-senary rounded-md inline-block mr-1"></span>
        Vision
      </div>
      <div
        class="text-secondary w-full md:w-2/3 text-2xl md:text-4xl font-bold leading-relaxed my-2"
      >
        Our Vision
      </div>
      <div class="flex flex-col items-start justify-start text-septenary">
        <div class="leading-relaxed my-2">
          At Satyam Hospital, our vision is to set a benchmark in healthcare by
          offering world-class medical services. We strive to be the first
          choice for patients seeking reliable, ethical, and affordable
          healthcare solutions. With a patient-centric approach, we endeavor to
          improve the health and well-being of individuals and families,
          ensuring a healthier tomorrow.
        </div>
        <div class="leading-relaxed my-2">
          We believe that every patient deserves personalized care and
          attention. At Satyam Hospital, our patient-centric approach ensures
          that each individual is treated with compassion, empathy, and respect.
          We understand that medical journeys can be challenging, and thus, we
          strive to create a warm and supportive environment to ease our
          patients' concerns.
        </div>
        <div class="leading-relaxed my-2">
          Satyam Hospital is committed to making quality healthcare accessible.
          Our transparent billing process ensures that patients are
          well-informed about the treatment costs.
        </div>
      </div>
    </app-section-left>
  </div>
</app-container>
