<div class="bg-doctorsBackground h-[500px] my-8 lg:my-24 hidden lg:block">
  <div class="grid-cols-5 hidden lg:grid">
    <div
      class="w-full border border-[#3979E5] flex flex-col items-center justify-center py-8"
    >
      <img
        width="{94}"
        height="{94}"
        alt="Icon"
        src="assets/Icons/bajaj_logo.svg"
      />
    </div>
    <div
      class="w-full border border-[#3979E5] flex flex-col items-center justify-center py-8"
    >
      <img
        width="{94}"
        height="{94}"
        alt="Icon"
        src="assets/Icons/chola_logo.svg"
      />
    </div>
    <div
      class="w-full border border-[#3979E5] flex flex-col items-center justify-center py-8"
    >
      <img
        width="{94}"
        height="{94}"
        alt="Icon"
        src="assets/Icons/cigna_logo.svg"
      />
    </div>
    <div
      class="w-full border border-[#3979E5] flex flex-col items-center justify-center py-8"
    >
      <img
        width="{94}"
        height="{94}"
        alt="Icon"
        src="assets/Icons/fhpl_logo.svg"
      />
    </div>
    <div
      class="w-full border border-[#3979E5] flex flex-col items-center justify-center py-8"
    >
      <img
        width="{94}"
        height="{94}"
        alt="Icon"
        src="assets/Icons/healthindia_logo.svg"
      />
    </div>
  </div>
  <div class="py-8 lg:py-4">
    <app-container>
      <div class="text-sm my-1 font-bold text-white">
        <span class="w-[3px] h-3 bg-white rounded-md inline-block mr-1"></span>
        Dedicated team
      </div>
      <div
        class="text-white w-full md:w-2/3 text-2xl md:text-2xl text-center md:text-left lg:text-3xl font-bold leading-relaxed my-2"
      >
        Our Best Doctors
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-x-4">
        <div
          class="flex flex-col items-center justify-center bg-white rounded-md overflow-hidden"
        >
          <div class="font-bold my-1">Dr. Anil Kumar Jha</div>
          <div class="text-sm text-senary font-base my-1 mb-4">
            M.B.B.S M.D(Neuro Medicine)
          </div>
          <div>
            <img
              alt="Doctor Image"
              width="{300}"
              height="{300}"
              class="h-96 w-96"
              src="assets/doctors/anil.png"
            />
          </div>
        </div>
        <div
          class="flex flex-col items-center justify-center bg-white rounded-md overflow-hidden"
        >
          <div class="font-bold my-1">Dr. Anil Kumar</div>
          <div class="text-sm text-senary font-base my-1 mb-4">
            M.B.B.S M.D(Nephrologist)
          </div>
          <div>
            <img
              alt="Doctor Image"
              width="{300}"
              height="{300}"
              class="h-96 w-96"
              src="assets/doctors/anil-2.png"
            />
          </div>
        </div>
        <div
          class="flex flex-col items-center justify-center bg-white rounded-md overflow-hidden"
        >
          <div class="font-bold my-1">Dr. S. S. Prasad</div>
          <div class="text-sm text-senary font-base my-1 mb-4">
            M.B.B.S M.S(ENT)
          </div>
          <div>
            <img
              alt="Doctor Image"
              width="{300}"
              height="{300}"
              class="h-96 w-96"
              src="assets/doctors/prasad.png"
            />
          </div>
        </div>
      </div>
    </app-container>
  </div>
</div>
<div class="h-[50px] lg:h-[200px]"></div>
