<app-section-header title="Ambulance Services"></app-section-header>
<app-container>
  <div class="py-8">
    <div class="flex flex-row items-center justify-center">
      <div class="text-sm my-1 font-bold text-senary">
        <span class="w-[3px] h-3 bg-senary rounded-md inline-block mr-1"></span>
        Rapid Response Care When You Need It Most
        <span class="w-[3px] h-3 bg-senary rounded-md inline-block ml-1"></span>
      </div>
    </div>
    <div
      class="text-secondary md:text-2xl text-center lg:text-5xl font-bold leading-relaxed my-2"
    >
      Emergency Ambulance Services
    </div>
  </div>

  <div
    class="py-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-x-4 gap-y-4"
  >
    <div class="grid grid-cols-1" *ngFor="let doctor of ambulance">
      <div
        key="{i}"
        class="flex flex-col rounded-lg border border-slate-200 bg-white text-slate-950 shadow-sm"
      >
        <div class="flex-1">
          <div
            class="py-2 my-2 flex flex-col space-y-1.5 p-6 text-base text-senary font-semibold"
          >
            {{ doctor.name }}
          </div>
          <div class="pb-3 px-5 text-sm text-slate-500 dark:text-slate-400">
            {{ doctor.address }}
          </div>
        </div>
        <div class="flex flex-row py-2 items-center p-6 pt-0">
          <div
            class="flex flex-row gap-x-2 items-center w-full justify-start my-1"
          >
            <p class="text-xs font-bold">{{ doctor.time }}</p>
          </div>
          <div
            class="flex flex-row gap-x-2 items-center w-full justify-start my-1"
          >
            <p class="text-xs font-bold">{{ doctor.number }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-container>
