<div class="bg-senary py-4 text-secondary">
  <app-container>
    <div class="text-center py-14">
      <div class="text-sm my-1 font-bold text-tertiary">
        <span
          class="w-[3px] h-3 bg-tertiary rounded-md inline-block mr-1"
        ></span>
        Pateint Testomonial
        <span
          class="w-[3px] h-3 bg-tertiary rounded-md inline-block ml-1"
        ></span>
      </div>
      <div
        class="text-tertiary text-center text-2xl md:text-4xl font-bold leading-relaxed my-2"
      >
        Read Patient Reviews
      </div>
    </div>
    <section class="text-center px-4 py-8 rounded-md">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <app-testimonial-card
          image="assets/LandingPageAssets/testimonials/Binay.png"
          name="Binay Singh "
          review="Good experience here and happy patient"
          title="Management"
          date="2 weeks ago"
        ></app-testimonial-card>
        <app-testimonial-card
          image="assets/LandingPageAssets/testimonials/AH.png"
          name="AH"
          review="I visited on last weekend. Hospital is too good and also staff. Dr. are well experienced and qualified. I am so happy to visit."
          title="Treatment"
          date="3 Years ago"
        ></app-testimonial-card>
        <app-testimonial-card
          image="assets/LandingPageAssets/testimonials/Shabbu.png"
          name="Shabbu Alam Siddique"
          review="Best hospital in patna"
          title="General"
          date="1 year ago"
        ></app-testimonial-card>
      </div>
    </section>
  </app-container>
</div>
