<div class="bg-secondary py-8 relative md:mt-28">
  <!-- <img class="absolute" src="assets/footer/fotter-bg.svg" /> -->
  <app-container>
    <div
      class="hidden md:flex flex-row justify-between bg-quaternary px-4 py-4 -translate-y-1/2 rounded-sm"
    >
      <img class="h-24 w-24" src="assets/footer/banner.svg" />
      <div class="flex flex-col items-start w-1/2 text-quinary justify-center">
        <div class="font-bold">Covid-Support</div>
        <div class="text-sm mt-2">
          Satyam Hopsital handled Covid Patients in its two well equipped ICUs
          with 24 hour Oxygen Supply when Government Hospitals were not
          sufficient to handle the Epidemic.
        </div>
      </div>
      <div
        class="flex flex-row items-center justify-center bg-senary px-2 py-2 rounded-sm"
      >
        <div>
          <img class="h-8 w-8" src="assets/footer/PhoneWhite.svg" />
        </div>
        <div class="flex flex-col items-center justify-center text-quinary">
          <div class="font-light">Requesting A Call:</div>
          <div class="font-bold">(933) 443-9782</div>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-x-4">
      <div class="flex flex-col items-start justify-start gap-y-6">
        <div class="flex flex-row items-start justify-start">
          <img src="assets/satyam dark.svg" />
        </div>
        <div class="font-light text-quinary">
          The hospital adheres to strict quality standards and is accredited by
          the District Civil Surgeon.
        </div>
        <div class="flex flex-row gap-x-2">
          <a
            target="_blank"
            href="https://www.facebook.com/profile.php?id=100088537181738"
          >
            <img
              class="bg-tertiary p-4 rounded-md"
              src="assets/footer/facebook.svg"
            />
          </a>
          <a target="_blank" href="https://twitter.com/SatyamHospPatna">
            <img
              class="bg-tertiary p-4 rounded-md"
              src="assets/footer/twitter.svg"
            />
          </a>
          <a
            target="_blank"
            href="https://www.linkedin.com/company/satyam-hospital-patna"
          >
            <img
              class="bg-tertiary p-4 rounded-md"
              src="assets/footer/linkedin.svg"
            />
          </a>
        </div>
      </div>
      <div
        class="flex flex-col items-start justify-start gap-y-4 text-tertiary"
      >
        <div class="flex flex-col text-xs items-start justify-start">
          <div class="font-bold mt-4 text-base">ADMIN LOCAL</div>
          <a
            [routerLink]="['/about']"
            routerLinkActive="router-link-active"
            class="mt-4"
            >About Us</a
          >
          <a
            [routerLink]="['/facilities']"
            routerLinkActive="router-link-active"
            class="mt-4"
            >Facilities</a
          >
          <a
            [routerLink]="['/doctors']"
            routerLinkActive="router-link-active"
            class="mt-4"
            >Our Doctors</a
          >
          <a
            [routerLink]="['/services']"
            routerLinkActive="router-link-active"
            class="mt-4"
            >Services</a
          >
          <a
            [routerLink]="['/jobs']"
            routerLinkActive="router-link-active"
            class="mt-4"
            >Job Vacancies</a
          >
        </div>
      </div>
      <div
        class="flex flex-col items-start justify-start gap-y-4 text-tertiary"
      >
        <div class="flex flex-col text-xs items-start justify-start">
          <div class="font-bold mt-4 text-base">PATIENT LOCAL</div>
          <a
            [routerLink]="['/pharmacy']"
            routerLinkActive="router-link-active"
            class="mt-4"
            >Pharmacy</a
          >
          <a
            [routerLink]="['/insurance']"
            routerLinkActive="router-link-active"
            class="mt-4"
            >Medical Insurance</a
          >

          <a
            [routerLink]="['/news']"
            routerLinkActive="router-link-active"
            class="mt-4"
            >News and Events</a
          >
        </div>
      </div>
      <div
        class="flex flex-col items-start justify-start gap-y-4 text-tertiary"
      >
        <div class="flex flex-col items-start justify-start">
          <div class="font-bold mt-4">ADDRESS</div>
          <div class="flex mt-4 flex-col items-start justify-start">
            <div class="flex flex-row items-center my-2 justify-center text-sm">
              <img
                class="bg-tertiary w-8 h-8 p-2 mr-4 rounded-md"
                src="assets/footer/send.svg"
              />
              <div class="flex flex-col items-start justify-center">
                <div>care@satyamhospital.com</div>
                <div>satyamcares@gmail.com</div>
              </div>
            </div>
            <div class="flex flex-row items-center my-2 justify-center text-sm">
              <img
                class="bg-tertiary w-8 h-8 p-2 mr-4 rounded-md"
                src="assets/footer/Message.svg"
              />
              <div class="flex flex-col items-start justify-center">
                <div class="my-1">Satyam Hospital, Brahamasthan</div>
                <div>Sheikhpura, Patna 800014</div>
              </div>
            </div>
            <div class="flex flex-row items-center my-2 justify-center text-sm">
              <img
                class="bg-tertiary w-8 h-8 p-2 mr-4 rounded-md"
                src="assets/footer/call_icon.svg"
              />
              <div class="flex flex-col items-start justify-center">
                <div class="my-1">(+91) 933 443 9782</div>
                <div>(+91) 612 229 5688</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="border-t text-septenary text-xs border-septenary flex flex-row flex-wrap justify-center gap-y-2 text-center md:text-left items-center md:justify-between py-4 my-4 border-opacity-30"
    >
      <div>© Satyamhospital 2023 | All Rights Reserved</div>
      <div class="flex flex-row gap-x-4">
        <a [routerLink]="['/terms']">Terms & Condition</a>
        <a [routerLink]="['/policy']">Privacy Policy</a>
        <a [routerLink]="['/contact']" routerLinkActive="router-link-active"
          >Contact Us</a
        >
      </div>
    </div>
  </app-container>
</div>
